<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Project.Common.Website" description="Common content and settings" dependencies="Foundation.*,Feature.*" extends="Helix.Project">
                    <predicate>
                        <include name="Layouts" database="master" path="/sitecore/layout/layouts/Poferries/Project/Common" />
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Poferries/Project/Common" />

                        <include name="Core.UserProfiles" database="core" path="/sitecore/system/Settings/Security/Profiles/Common" />
                        <include name="Media" database="master" path="/sitecore/media library/Poferries/Project/Common" />

                        <include name="Metadata" database="master" path="/sitecore/system/settings/Poferries/Feature/Metadata">
                            <exclude children="true" />
                        </include>

                        <include name="Themes" database="master" path="/sitecore/system/Settings/Poferries/Project/Themes/Common" />

                        <include name="BucketSettings" database="master" path="/sitecore/system/Settings/Buckets/Item Buckets Settings" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>